
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {font-family: "TheAntiquaSun"; src: url("//db.onlinewebfonts.com/t/8a686d9696893e913fbb9c2fc638beb8.eot"); src: url("//db.onlinewebfonts.com/t/8a686d9696893e913fbb9c2fc638beb8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8a686d9696893e913fbb9c2fc638beb8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8a686d9696893e913fbb9c2fc638beb8.woff") format("woff"), url("//db.onlinewebfonts.com/t/8a686d9696893e913fbb9c2fc638beb8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8a686d9696893e913fbb9c2fc638beb8.svg#TheAntiquaSun") format("svg"); }

*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

h1, h2, h3, h4 {

  font-family: "TheAntiquaSun";
     margin: 0;
     padding: 0;
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  max-width: 115.2rem;
 

}
.hcenter{
  flex-grow: 2;
 text-align: center;

}

.hright{
  display: flex;
  flex-grow:1;
  text-align: center;
  align-items: center;
}
.header-connexion{
  text-align: center;
  text-decoration: none;
  align-self: center;
  display: flex;
  padding: .8rem 0;
  margin-right: 5px;
  color: black;
}
.icon__nav-connexion{
  margin-top: auto;
  margin-bottom: auto;
  height:20%;
  width: 20%;
}
.subscribe{

  justify-content: center;
  border-left: solid 1px black;
 
}
.button {
  margin-left: 10px;
  background-color: #ffc700;
  border: none;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover{
  background-color:#EAB009 ;
}


.hleft{
  display: flex;
  flex-grow:1

}

.consultjr{
  height:54px;
  width: 80px;
 
}

.consult{
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.Header__jelec{
  align-items: center;
  align-self: flex-end;

  color: #717b8e;

 
 
  line-height: 1.1;
  text-decoration: none;
  background-size: contain;
  background-position: center;
  width: 5rem;
  border: .1rem solid #eff0f3;
 
}



p {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.article__desc {
  
  margin: 1.6rem 0;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  color: #2a303b;
  font-size: 1rem;
  line-height: 1.34;
  text-align: justify;
}

/* top part menu nav et la partie bleu */


      /* nav bar */
      .nav_mn{
        background-color: #ffffff;
        align-items: center;
        color: #000b15;
        height: auto;
        position: relative;
        width: 100%;
        text-align: center;
        box-shadow: 0 0.4rem 0.4rem 0 rgba(0,0,0,.04);
        border-top: .4rem solid #026b9c;
        height: 4rem;
        border-bottom: .1rem solid #eff0f3;
      }

      .Nav__item {
        padding: 1rem 2rem;
    }
      ul {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        list-style-type: none;
        
        overflow: hidden;
        background-color:white;
        /* background-color:#2A303B ; */
      }
      
      li {
        text-align: center;
        display: inline;
      }

       
      
      li a {
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
  
      
    
      /*fin navbar*/

      /* partie bleu*/
    .titre-nav-blue {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "tnb1 tnb2 tnb3 tnb4 tnb5 tnb6";
    grid-area: titre-nav-blue;
    background-color: #036487;
    font-family: helvetica;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 2rem 0 0;
    color: white;
  }

  .tnb1 { grid-area: tnb1;
    border-right: 1px solid #2a303b; }
  .tnb2 { grid-area: tnb2;
    border-right: 1px solid #2a303b; }
  .tnb3 { grid-area: tnb3;
    border-right: 1px solid #2a303b; }
  .tnb4 { grid-area: tnb4;
    border-right: 1px solid #2a303b; }
  .tnb5 { grid-area: tnb5; 
    border-right: 1px solid #2a303b;}
  .tnb6 { grid-area: tnb6;
    border-right: 1px solid #2a303b; }
    .time{
      color:#67C3D3;
    }
 /* fin partie partie bleu*/
/*fin partie top*/


    .main-page{
     display:grid;
     grid-template-columns: 2fr 1fr 2fr;
     grid-template-rows: 1fr;
     grid-template-areas:
       "emptyleft wrapper emptyright";
        grid-area: main-page;
    }
    .emptyright{
      background-color:#F5F6F8;
    }
    .emptyleft{
      background-color:#F5F6F8;
    }

.wrapper
{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-areas:
  "container"
  "article"
  "video"
  "blog"
  "service";
  grid-area: wrapper;


}
  .container {
    padding-top: 2rem;
    text-align: justify,center;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-template-areas:
      "main-titles sidebar";
    grid-area: container;
  }

  .sidebar { grid-area: sidebar; }


  .main-titles {
    text-align: justify;
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
   column-gap: 30px;
    
    grid-template-areas:
      "big-news"
      "main-news-b";
    grid-area: main-titles;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
    
  .big-news {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr;
    column-gap: 30px;
    grid-template-areas:
      "main-new side-bige-news";
    grid-area: big-news;
  }

  
  .side-bige-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
     row-gap: 10px;
    grid-template-areas:
      "side-news1"
      "side-news2";
    grid-area: side-bige-news;
   text-align: justify;
  }

  .side-news1 { grid-area: side-news1; 
    border-bottom: 1px solid #2a303b;}
  .side-news2 { grid-area: side-news2; }


  .main-new {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.3r 0.1fr;
    
    grid-template-areas:
      "big-title"
      "main-new-text";
    grid-area: main-new;
  }

  .big-title { grid-area: big-title; }

  .main-new-text {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.1fr;
   column-gap: 80px;
    grid-template-areas:
      "mnt-1 mnt2";
    }

  .mnt-1 { grid-area: mnt-1; 
  }
  .mnt2 { grid-area: mnt2; }
  
  .main-news-b {
    padding-top: 2.4rem;
    border-top: .1rem solid #d5d8dc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    column-gap: 80px;
    grid-template-areas:
      "three-news-pictures"
      "bottom-main-news";
    grid-area: main-news-b;
  }
  .three-news-pictures> div{
    text-align: center;
   
  }
  .three-news-pictures {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid #2a303b;
    column-gap: 13px;
    align-items: center;
    grid-template-areas:
      "tnp1 tnp2 tnp3";
    grid-area: three-news-pictures;
  }

 
  .tnp1 { 
    display:block;
    margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
   
    grid-area: tnp1; }
  .tnp2 {
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
     grid-area: tnp2; }
  .tnp3 { 
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    grid-area: tnp3; }
  
  .tnp1 > img{
    height: 132.42px;
    width: 198.66px;
  }
  .tnp2 > img{
    height: 132px;
    width: 198px;
  }
  .tnp3 > img{
    height: 132px;
    width: 198px;
  }
 
  .bottom-main-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 80px;
    grid-template-areas:
      "bottom-main-news-pictures"
      "news-titles";
    grid-area: bottom-main-news;
  }
  .bottom-main-news > div {
    text-align: center;
  }
  .bottom-main-news-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 1.1fr;
    column-gap: 80px;
    grid-template-areas:
      "bmn1 bmn2"
      "bmn3 bmn4";
    grid-area: bottom-main-news-pictures;
  }
  .bmn1 { grid-area: bmn1; 
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #2a303b;}
  .bmn2 { grid-area: bmn2;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #2a303b; }
  .bmn3 { grid-area: bmn3;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #2a303b;  }
  .bmn4 { grid-area: bmn4; 
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #2a303b;}

  .news-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    grid-template-areas:
      "nt1 nt2"
      "nt3 nt4"
      "nt5 nt6"
      "nt7 nt8";
    grid-area: news-titles;
  }
  .nt1 { grid-area: nt1;
    border-bottom: 1px solid #2a303b;
   }
  .nt2 { grid-area: nt2;
    border-bottom: 1px solid #2a303b;  }
  .nt3 { grid-area: nt3;
    border-bottom: 1px solid #2a303b; }
  .nt4 { grid-area: nt4;
    border-bottom: 1px solid #2a303b; }
  .nt5 { grid-area: nt5;
    border-bottom: 1px solid #2a303b; }
  .nt6 { grid-area: nt6; 
    border-bottom: 1px solid #2a303b;}
  .nt7 { grid-area: nt7; 
    border-bottom: 1px solid #2a303b;}
  .nt8 { grid-area: nt8;
    border-bottom: 1px solid #2a303b; }


  /* bene part */ 

/* Article les plus lus */
.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 11px 11px;
  grid-template-areas:
    "Article1 Article4 Article7"
    "Article2 Article5 Article8"
    "Article3 Article6 Article9";
}

.Article2 { grid-area: Article2; }
.Article3 { grid-area: Article3; }
.Article4 { grid-area: Article4; }
.Article7 { grid-area: Article7; }
.Article8 { grid-area: Article8; }
.Article9 { grid-area: Article9; }
.Article6 { grid-area: Article6; }
.Article5 { grid-area: Article5; }
.Article1 { grid-area: Article1; }

.Article2 {
  grid-row: 2;
  grid-column: 1;
}

.Article3 {
  grid-row: 3;
  grid-column: 1;
}

.Article4 {
  grid-row: 1;
  grid-column: 2;
}

.Article7 {
  grid-row: 1;
  grid-column: 3;
}

.Article8 {
  grid-row: 2;
  grid-column: 3;
}

.Article9 {
  grid-row: 3;
  grid-column: 3;
}

.Article6 {
  grid-row: 3;
  grid-column: 2;
}

.Article5 {
  grid-row: 2;
  grid-column: 2;
}

.Article1 {
  grid-row: 1;
  grid-column: 1;
}
/* Fin article  */

/* Article video */
.video {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: repeat(2, 1fr) 1.1fr 0.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "Video1 Video2"
    "Video1 Video3"
    "Video1 Video4"
    "Video1 Video5";
}

.Video1 { grid-area: Video1; }
.Video2 { grid-area: Video2; }
.Video3 { grid-area: Video3; }
.Video4 { grid-area: Video4; }
.Video5 { grid-area: Video5; }

.Video1 {
  grid-row: 1;
  grid-column: 1;
}

.Video2 {
  grid-row: 1;
  grid-column: 2;
}

.Video3 {
  grid-row: 2;
  grid-column: 2;
}

.Video4 {
  grid-row: 3;
  grid-column: 2;
}

.Video5 {
  grid-row: 4;
  grid-column: 2;
}

/* fin article video */

/* article 3 colonnes */
.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "article1 article2 article3";
}

.article1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "image1"
    "titreimage";
  grid-area: article1;
  height: 300px;
  width: 200px;
}

.image1 { grid-area: image1; }

.titreimage { grid-area: titreimage; }

.article2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "blocarticle"
    "blocarticle1"
    "blocarticle2";
  grid-area: article2;
}

.blocarticle { grid-area: blocarticle;
border-top: solid 1px #D5D8DC;
border-bottom: solid 1px#D5D8DC; }

.blocarticle1 { grid-area: blocarticle1; 
  border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC;}

.blocarticle2 { grid-area: blocarticle2;
  border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC; }

.article3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "blocarticle3"
    "blocarticle4"
    "blocarticle5";
  grid-area: article3;
}

.blocarticle3 { grid-area: blocarticle3; 
  border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC;}

.blocarticle4 { grid-area: blocarticle4;
  border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC; }

.blocarticle5 { grid-area: blocarticle5;
  border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC; }

/* fin articles 3 colonnes */

/* article reduit 2 colonnes */
.articlereduit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Colonne1 Colonne2";
}

.Colonne1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "image"
    "imagetitre";
  grid-area: Colonne1;
}

.image { grid-area: image; }

.imagetitre { grid-area: imagetitre; }

.Colonne2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "lignearticle"
    "lignearticle1"
    "lignearticle2";
  grid-area: Colonne2;
}

.lignearticle { grid-area: lignearticle; 
  border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC;}

.lignearticle1 { grid-area: lignearticle1;border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC; }

.lignearticle2 { grid-area: lignearticle2; border-top: solid 1px #D5D8DC;
  border-bottom: solid 1px#D5D8DC;}

/* fin articles reduit 2 colonnes */

/* Blog Dessines */
.blog {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 2.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Blog-Dessines . ."
    "Image+titre1 Image+titre2 Image+titre3";
  padding-top: 5.2rem  
}

.Blog-Dessines { grid-area: Blog-Dessines; }

.Image+titre1 { grid-area: Image+titre1; }

.Image+titre2 { grid-area: Image+titre2; }

.Image+titre3 { grid-area: Image+titre3; }

.blog-dessines{
  display:flex;
  justify-content:space-between;
  align-items: center;
 

}

/* Fin blog dessines */

/* Services */
.info {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 2.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Services . ."
    "Services1 Services2 Services3";
  /* padding-top: 3.2rem   */
}

.Services { grid-area: Services; }

.Services1 { grid-area: Services1; }

.Services2 { grid-area: Services2; }

.Services3 { grid-area: Services3; }

/* Fin Services */

/* Partie Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.8fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "Footer1 Footer2 Footer3 Footer4"
    "Footer5 Footer5 Footer5 Footer5";
  background-color:#2A303B;
  font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
}

.Footer1 { grid-area: Footer1; }

.Footer2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "Case1"
    "Case2"
    "Case3";
  grid-area: Footer2;
  color: #2A303B;
}

.Case1 { grid-area: Case1; }

.Case2 { grid-area: Case2; }

.Case3 { grid-area: Case3; }

.Footer3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "n1"
    "n2";
  grid-area: Footer3;
}

.n1 { grid-area: n1; }

.n2 { grid-area: n2; }

.Footer4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "Bloc1"
    "Bloc2"
    "Bloc3"
    "Bloc4";
  grid-area: Footer4;
}

.Bloc1 { grid-area: Bloc1; }

.Bloc2 { grid-area: Bloc2; }

.Bloc3 { grid-area: Bloc3; }

.Bloc4 { grid-area: Bloc4; }

.Footer5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: Footer5;
}

.footerbottom{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: .1rem solid #a4a9b4;
  padding-top: 2.4rem;
}

.footertitre{
  margin-right: 3.2rem;
  text-transform: uppercase;
  font-size: 1.0rem;
  line-height: 1.28;
  position: relative;
  color: #fff;
}

.footersocial{
  display: flex;
  margin-top: 0;
}

.footerreseausocial{
  list-style: none;
  display: flex;
  height: auto;
  padding-top: 0;
  font-size: 1.0rem;
  line-height: 1;
  position: relative;
  margin-left: 0;
  flex-direction: row;
  width: auto;
  background-color:#2A303B ;
}

.footerlien{
  background-color:#2A303B ;
}

.footercategorie{
  background-color:#2A303B ;
}

.footer__link{
  line-height: 1.23;
  display: inline-flex;
  width: 100%;
  align-items: flex-end;
  padding-left: 0;
  color: #fff;
  background-color: #2A303B;
}

.footerliste{
  background-color: #2A303B ;
  color: #fff;
  display: block;
  font-size: 1.0rem;
  line-height: 1.3;
  list-style: none;
  position: relative;
}

.footerarticle{
  line-height: 1.6;
  position: relative;
  color: #fff;
}

.footerabonner{
  margin-top: 1.6rem;
  line-height: 1.23;
  display: inline-flex;
  width: 100%;
  align-items: flex-end;
}

.footerapps{
  background-color:#2A303B ;
  color: #fff;
  line-height: 1.0;
  display: inline-flex;
  align-items: flex-end;
  padding-left: 0;
  align-self: center;
}

.icon__subscribe {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.039 2.996c-.918.543-1.223 1.275-1.223 2.408v9.034c0 .568.071.826.376.992l.306.166.845-.497.282.568-2.935 1.77-1.01-.686c-.447-.306-.635-.684-.635-1.416V7.267c0-1.51.47-2.312 1.128-2.807l.376-.283-2.77-1.629-1.245.755v11.75c0 .99-.14 1.132-1.01 1.58 0 0-.68.33-1.618.826h-.189V4.436c0-.636-.071-.779-.423-1.061l-.985-.802-1.198.683v6.749c0 1.179-.188 2.028-1.127 2.617L5.637 14.11l-.237-.4c.73-.568.893-1.37.893-2.314V4.507c0-1.015-.14-1.416-1.197-1.227-.4.07-1.01.165-1.385.212-1.55.213-2.209-.896-1.152-2.288 0 0 .26-.354.916-1.204l.518.355-.377.542c-.492.71-.093 1.086.705.802a66.534 66.534 0 0 0 1.62-.637c2.23-.872 3.052.567 3.17 1.416L11.882.803l2.393 1.84 2.958-1.84 2.278 1.298c.775.447 1.15.259 1.691-.025l.446-.235.352.59-.961.565M6.552 17.46c-.235-.662-.915-1.345-2.137-1.392-1.151-.024-2.795.425-4.156 1.463L0 17.2c.987-1.086 3.288-2.831 5.706-2.856 1.269 0 2.16.426 2.795 1.11l1.057-.59.305.614-3.311 1.981' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

h5{
  color: #fff;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  color: #fff;
}

.newsletter {
  margin-top: 1.6rem;
  line-height: 1.23;
  display: inline-flex;
  align-items: flex-end;
}

.icon__connexion{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='18' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.81 7.705V4.448l4.087 3.955-4.088 3.954v-3.17H0V7.706h4.81zM7.956 3.56l-1.05-1.049a8.897 8.897 0 1 1-.482 12.265l1.052-1.05a7.414 7.414 0 1 0 .48-10.165zm5.388 11.268c-.988 0-1.93-.255-2.827-.764a5.94 5.94 0 0 1-2.115-1.95c.013-.51.323-.979.929-1.408.514-.362 1.18-.657 1.997-.885.738-.2 1.407-.301 2.006-.301.6 0 1.269.1 2.007.301.817.228 1.49.523 2.017.885.606.429.916.898.929 1.408a5.94 5.94 0 0 1-2.115 1.95 5.568 5.568 0 0 1-2.828.764zm0-10.874c.435 0 .844.114 1.226.342s.685.536.91.925c.224.389.336.804.336 1.247 0 .442-.112.858-.336 1.246a2.529 2.529 0 0 1-.91.925 2.35 2.35 0 0 1-1.226.342 2.35 2.35 0 0 1-1.225-.342 2.529 2.529 0 0 1-.91-.925 2.456 2.456 0 0 1-.336-1.246c0-.443.112-.858.336-1.247s.527-.697.91-.925a2.35 2.35 0 0 1 1.225-.342z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__journal {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='18' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.763 5.79V0H22v15.053a2.316 2.316 0 0 1-2.316 2.315H2.316A2.316 2.316 0 0 1 0 15.053V5.789h3.763v1.737H1.737v7.527c0 .32.259.579.579.579h1.002l.135-.235c.203-.352.31-.751.31-1.157V5.789zm1.737 0v8.45c0 .476-.084.947-.247 1.392h14.431c.32 0 .58-.26.58-.58V1.738H5.5zm7.237 5.789v1.737h-5.79v-1.737zm0-6.947v5.21h-5.79v-5.21zm5.79 6.947v1.737h-4.632v-1.737h4.631zm0-3.474v1.737h-4.632V8.105h4.631zm0-3.473v1.736h-4.632V4.632h4.631z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.footer__icon {
  width: 2.9rem;
  height: 1.8rem;
  background-color:#2A303B ;
}

.icon__mail {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.023 16.372V2.35l8.85 7.82a1.7 1.7 0 0 0 1.127.419 1.7 1.7 0 0 0 1.128-.42l8.849-7.819v14.023H1.023zM20.456 1.26L11.53 9.146c-.278.246-.784.245-1.062 0L1.544 1.259h18.912zm.52-1.26H1.024C.46 0 0 .565 0 1.261v15.11c0 .694.459 1.26 1.024 1.26h19.952c.565 0 1.024-.564 1.024-1.26V1.26C22 .567 21.541 0 20.976 0z' stroke='%23FFF' stroke-width='.5' fill='%23FFF'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__facebook {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='26' height='18' xmlns='http://www.w3.org/2000/svg' fill='%23FFF'%3E%3Cpath d='M18 17.007a.993.993 0 0 1-.993.993H12.42v-6.97h2.34l.35-2.717h-2.69V6.579c0-.787.218-1.323 1.346-1.323h1.439v-2.43a19.143 19.143 0 0 0-2.096-.108c-2.074 0-3.494 1.266-3.494 3.591v2.004H7.269v2.716h2.346V18H.993A.993.993 0 0 1 0 17.007V.993C0 .445.445 0 .993 0h16.014c.548 0 .993.445.993.993v16.014' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__youtube {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='33' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.943 12.524V5.09l6.534 3.717-6.534 3.717zM24.478 2.75a3.141 3.141 0 0 0-2.21-2.224C20.317 0 12.5 0 12.5 0S4.682 0 2.733.526A3.141 3.141 0 0 0 .523 2.75C0 4.713 0 8.807 0 8.807s0 4.094.522 6.056a3.142 3.142 0 0 0 2.21 2.225c1.95.526 9.768.526 9.768.526s7.818 0 9.767-.526a3.142 3.142 0 0 0 2.21-2.225C25 12.901 25 8.807 25 8.807s0-4.094-.522-6.057z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__twitter {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.448.315c-.793.49-1.67.848-2.607 1.04A4.01 4.01 0 0 0 13.846 0c-2.264 0-4.102 1.922-4.102 4.291 0 .337.036.664.106.978C6.44 5.09 3.417 3.383 1.392.784a4.435 4.435 0 0 0-.555 2.16c0 1.487.724 2.802 1.826 3.571a3.97 3.97 0 0 1-1.86-.535v.053c0 2.08 1.414 3.814 3.293 4.208-.344.1-.707.15-1.082.15-.264 0-.522-.025-.772-.076.523 1.705 2.037 2.946 3.833 2.98A8.003 8.003 0 0 1 0 15.073 11.263 11.263 0 0 0 6.29 17c7.548 0 11.674-6.539 11.674-12.21 0-.187-.003-.373-.01-.556A8.52 8.52 0 0 0 20 2.013a7.884 7.884 0 0 1-2.356.675A4.273 4.273 0 0 0 19.448.315' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__instagram--footer {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='20' xmlns='http://www.w3.org/2000/svg' fill='%23FFF'%3E%3Cpath d='M9.997 1.801c2.67 0 2.985.01 4.04.059.974.044 1.504.207 1.856.344.434.16.827.416 1.15.748.331.322.587.715.747 1.149.137.352.3.882.344 1.856.048 1.054.059 1.37.059 4.04s-.01 2.985-.059 4.04c-.044.974-.207 1.504-.344 1.856a3.31 3.31 0 0 1-1.897 1.897c-.352.137-.882.3-1.856.344-1.054.049-1.37.059-4.04.059s-2.986-.01-4.04-.059c-.974-.044-1.504-.207-1.856-.344a3.097 3.097 0 0 1-1.15-.748 3.097 3.097 0 0 1-.747-1.15c-.137-.351-.3-.88-.345-1.855-.048-1.054-.058-1.37-.058-4.04s.01-2.985.058-4.04c.045-.974.208-1.504.345-1.856a3.09 3.09 0 0 1 .748-1.15A3.097 3.097 0 0 1 4.1 2.205c.352-.137.882-.3 1.856-.344 1.054-.049 1.37-.059 4.04-.059zm0-1.801C7.282 0 6.94.012 5.875.06 4.811.11 4.085.278 3.45.525a4.9 4.9 0 0 0-1.771 1.153 4.9 4.9 0 0 0-1.153 1.77C.278 4.085.109 4.812.06 5.876.012 6.941 0 7.282 0 9.997s.012 3.055.06 4.122c.049 1.064.218 1.79.465 2.426a4.9 4.9 0 0 0 1.153 1.77 4.9 4.9 0 0 0 1.77 1.154c.637.247 1.363.416 2.427.465 1.067.048 1.407.06 4.122.06s3.056-.012 4.122-.06c1.064-.049 1.79-.218 2.426-.465a5.112 5.112 0 0 0 2.924-2.924c.247-.636.416-1.362.465-2.426.048-1.067.06-1.407.06-4.122s-.012-3.056-.06-4.122c-.049-1.064-.218-1.79-.465-2.426a4.9 4.9 0 0 0-1.153-1.771 4.9 4.9 0 0 0-1.77-1.153C15.908.278 15.182.109 14.118.06 13.052.012 12.712 0 9.997 0z'/%3E%3Cpath d='M10.134 5a5.134 5.134 0 1 0 0 10.267 5.134 5.134 0 0 0 0-10.267zm0 8.466a3.332 3.332 0 1 1 0-6.665 3.332 3.332 0 0 1 0 6.665z'/%3E%3Ccircle cx='16.2' cy='5.2' r='1.2'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__snapchat {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='27' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62 17.834c-.05 0-.097-.002-.145-.004a1.477 1.477 0 0 1-.095.004c-1.126 0-1.848-.51-2.547-1.005-.482-.34-.937-.662-1.474-.752a4.756 4.756 0 0 0-.774-.065c-.453 0-.811.07-1.072.121a2.35 2.35 0 0 1-.4.058c-.109 0-.227-.024-.278-.199a6.268 6.268 0 0 1-.107-.44c-.08-.366-.137-.59-.29-.614-1.785-.276-2.296-.652-2.41-.918A.344.344 0 0 1 0 13.905a.201.201 0 0 1 .168-.21c2.745-.451 3.975-3.256 4.027-3.375a.387.387 0 0 1 .004-.01c.168-.34.2-.636.098-.878-.188-.444-.803-.639-1.21-.768a4.328 4.328 0 0 1-.267-.09c-.812-.321-.88-.65-.847-.818.054-.286.436-.485.745-.485.085 0 .16.015.222.044.365.171.694.258.978.258.392 0 .563-.165.584-.187-.01-.186-.022-.38-.035-.58-.081-1.297-.183-2.91.228-3.83C5.925.218 8.534.004 9.305.004L9.641 0h.046c.772 0 3.386.215 4.617 2.975.41.92.31 2.534.227 3.83l-.003.057-.032.524c.02.02.178.171.533.185.27-.01.581-.096.922-.256.1-.047.21-.056.286-.056.116 0 .232.022.33.062l.005.003c.276.097.457.29.46.493.004.19-.141.475-.853.757a4.537 4.537 0 0 1-.268.09c-.407.13-1.021.324-1.21.768-.102.242-.07.537.099.878l.004.01c.051.119 1.281 2.923 4.026 3.376a.201.201 0 0 1 .169.21.337.337 0 0 1-.028.114c-.114.265-.624.64-2.41.916-.146.023-.202.213-.29.612a6.157 6.157 0 0 1-.107.437c-.038.13-.12.19-.256.19h-.022c-.095 0-.23-.016-.4-.05a5.334 5.334 0 0 0-1.072-.113c-.252 0-.513.022-.775.065-.535.09-.99.41-1.472.751-.7.495-1.422 1.006-2.548 1.006' fill='%23FFFFFE' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon__rss {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='26' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1zm1.455 6.265c2.587.051 4.789.964 6.576 2.772 1.779 1.805 2.64 3.997 2.688 6.508h2.19c.04-6.693-5.743-11.653-11.454-11.448v2.168zm5.432 9.28h2.203c.081-4.387-3.808-7.801-7.635-7.63v2.182c2.96.004 5.403 2.449 5.432 5.448zm-2.25-1.599a1.575 1.575 0 0 0-1.585-1.582 1.586 1.586 0 0 0-1.597 1.595 1.605 1.605 0 0 0 1.593 1.586 1.582 1.582 0 0 0 1.588-1.599z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.logocamps{
  height:25px;
  width: 170px;
}