
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');



*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

body, h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

body {
   
    font-size: 16px;
  

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titre-nav-blue"
      "container";
  }

  .titre-nav-blue {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "tnb1 tnb2 tnb3 tnb4 tnb5 tnb6";
    grid-area: titre-nav-blue;
    background-color: #036487;
    font-size: 1.1rem;
    padding: 2rem 0 0;
  }

  .tnb1 { grid-area: tnb1; }
  .tnb2 { grid-area: tnb2; }
  .tnb3 { grid-area: tnb3; }
  .tnb4 { grid-area: tnb4; }
  .tnb5 { grid-area: tnb5; }
  .tnb6 { grid-area: tnb6; }

  .container {
    text-align: justify,center;
    display: grid;
    grid-template-columns: 2.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-template-areas:
      "main-titles sidebar";
    grid-area: container;
  }

  .sidebar { grid-area: sidebar; }


  .main-titles {
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "big-news"
      "main-news-b";
    grid-area: main-titles;
  }
    
  .big-news {
    font-family: 'Antic Slab', serif;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "main-new side-bige-news";
    grid-area: big-news;
  }

  
  .side-bige-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "side-news1"
      "side-news2";
    grid-area: side-bige-news;
  }
  .side-news1 { grid-area: side-news1; }
  .side-news2 { grid-area: side-news2; }


  .main-new {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      "big-title"
      "main-new-text";
    grid-area: main-new;
  }

  .big-title { grid-area: big-title; }

  .main-new-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-template-areas:
      "mnt-1 mnt2";
    grid-area: main-new-text;
  }
  .mnt-1 { grid-area: mnt-1; }
  .mnt2 { grid-area: mnt2; }
  
  .main-news-b {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "three-news-pictures"
      "bottom-main-news";
    grid-area: main-news-b;
  }
  .three-news-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "tnp1 tnp2 tnp3";
    grid-area: three-news-pictures;
  }
  .tnp1 { grid-area: tnp1; }
  .tnp2 { grid-area: tnp2; }
  .tnp3 { grid-area: tnp3; }
  .bottom-main-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bottom-main-news-pictures"
      "news-titles";
    grid-area: bottom-main-news;
  }
  .bottom-main-news-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bmn1 bmn2"
      "bmn3 bmn4";
    grid-area: bottom-main-news-pictures;
  }
  .bmn1 { grid-area: bmn1; }
  .bmn2 { grid-area: bmn2; }
  .bmn3 { grid-area: bmn3; }
  .bmn4 { grid-area: bmn4; }
  .news-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". nt2"
      "nt3 nt4"
      "nt5 nt6"
      "nt7 nt8";
    grid-area: news-titles;
  }
  .nt2 { grid-area: nt2; }
  .nt3 { grid-area: nt3; }
  .nt4 { grid-area: nt4; }
  .nt5 { grid-area: nt5; }
  .nt6 { grid-area: nt6; }
  .nt7 { grid-area: nt7; }
  .nt8 { grid-area: nt8; }


  /* bene part */ 


/* Article les plus lus */
.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 11px 11px;
  grid-template-areas:
    "Article1 Article4 Article7"
    "Article2 Article5 Article8"
    "Article3 Article6 Article9";
}

.Article2 { grid-area: Article2; }

.Article3 { grid-area: Article3; }

.Article4 { grid-area: Article4; }

.Article7 { grid-area: Article7; }

.Article8 { grid-area: Article8; }

.Article9 { grid-area: Article9; }

.Article6 { grid-area: Article6; }

.Article5 { grid-area: Article5; }

.Article1 { grid-area: Article1; }

.Article2 {
  grid-row: 2;
  grid-column: 1;
}

.Article3 {
  grid-row: 3;
  grid-column: 1;
}

.Article4 {
  grid-row: 1;
  grid-column: 2;
}

.Article7 {
  grid-row: 1;
  grid-column: 3;
}

.Article8 {
  grid-row: 2;
  grid-column: 3;
}

.Article9 {
  grid-row: 3;
  grid-column: 3;
}

.Article6 {
  grid-row: 3;
  grid-column: 2;
}

.Article5 {
  grid-row: 2;
  grid-column: 2;
}

.Article1 {
  grid-row: 1;
  grid-column: 1;
}
/* Fin article  */

/* Article Video */
.video {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: repeat(2, 1fr) 1.1fr 0.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "Video1 Video2"
    "Video1 Video3"
    "Video1 Video4"
    "Video1 Video5";
}

.Video1 { grid-area: Video1; }

.Video2 { grid-area: Video2; }

.Video3 { grid-area: Video3; }

.Video4 { grid-area: Video4; }

.Video5 { grid-area: Video5; }

.Video1 {
  grid-row: 1;
  grid-column: 1;
}

.Video2 {
  grid-row: 1;
  grid-column: 2;
}

.Video3 {
  grid-row: 2;
  grid-column: 2;
}

.Video4 {
  grid-row: 3;
  grid-column: 2;
}

.Video5 {
  grid-row: 4;
  grid-column: 2;
}
/* fin article video */


 -25,3 +25,38 @@ html {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.footerbottom{
    border-top: .1rem solid #a4a9b4;
    padding-top: 2.4rem;
}

.footertitre{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.28;
    position: relative;
}

.footersocial{
    display: flex;
}

.footerreseausocial{
    list-style: none;
    display: flex;
    height: auto;
    padding-top: 0;
    font-size: 1.3rem;
    line-height: 1.3;
    position: relative;
    margin-left: 0;
}

.footer__link{
    line-height: 1.23;
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
}